
platforms/android/assets/www/index.html
platforms/android/assets/www/index.html
platforms/android/assets/www/img/logo.png
platforms/android/.gradle/3.3/taskArtifacts/fileHashes.bin
platforms/android/.gradle/3.3/taskArtifacts/fileSnapshots.bin
platforms/android/.gradle/3.3/taskArtifacts/taskArtifacts.bin
platforms/android/.gradle/3.3/taskArtifacts/taskArtifacts.lock
platforms/android/.gradle/3.3/tasks/_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
platforms/android/.gradle/3.3/tasks/_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
platforms/android/.gradle/3.3/tasks/_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
platforms/android/.gradle/3.3/tasks/_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
platforms/android/.gradle/3.3/tasks/_CordovaLib_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
platforms/android/.gradle/3.3/tasks/_CordovaLib_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
platforms/android/android.json
platforms/android/assets/www/cordova_plugins.js
plugins/fetch.json
